{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4">Видео об игре</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <video controls class="img-fluid">
                    <source src="{% static '' %}" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            </div>
        </div>
    </div>
{% endblock %}
